<%- include('../includes/navbar.ejs') %>
<a href="/admin/my-products/add-product">
    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">Add Product</button>
</a>
<div class="grid grid-cols-3 gap-x-4 gap-y-4 mt-14 ">
<% products.forEach(val => { %>
<div class="max-w-sm bg-white border text-center mx-auto border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/<%= val.imageUrl %>" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= val.name %></h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= val.description %></p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-4xl tracking-wider"><%= sumTotal(val.price) %></p>
        <a href="/admin/my-products/edit-product/<%= val.id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Edit
             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
        <a href="/admin/my-products/product/delete/<%= val.id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Delete <span class="text-xs pl-2"> X </span>
             
        </a>
    </div>
</div>
<% }) %>
</div>


<%- include('../includes/footer.ejs') %>