<%- include('./includes/navbar.ejs') %>
<body>
    
    <%- include('./includes/searchbar.ejs') %>

        <% if(products.length > 0) { %>
        <div class="grid grid-cols-3 gap-x-4 gap-y-4" style="margin: 30px 0 30px 0;">
            <% products.forEach(val => { %>
            <div style="margin-bottom: 30px;" class=" w-full max-w-sm bg-white border mx-auto border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="p-8 rounded-t-lg" src="/<%= val.imageUrl %>" alt="product image" />
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"><%= val.name %></h5>
                    </a>
                    <div class="flex items-center mt-2.5 mb-5">
                        <h1 class="w-4 h-4  mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <%= val.categories %>
                        </h1>
                    </div>
                    <div class="flex items-center mt-2.5 mb-5">
                        <h1 class="w-4 h-4  mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                            <%= val.description %>
                        </h1>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-3xl font-bold text-gray-900 dark:text-white"><%= sumTotal(val.price) %></span>
                        <% if(isAuth) { %>
                            <a href="/<%= currentUser.id %>/product/cart/<%= val.id %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                       <% } %>

                        
                    </div>
                </div>
            </div>
    
<% }) %>
</div>
<% } else { %>
    <h1>Tidak ada produk!</h1>
    <% } %>

</body>
<%- include('./includes/footer.ejs') %>