<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>profiles</h1>
    <table>
        <tr>
          <th>name</th>
          <th>phone</th>
          <th>des</th>
          <th>username</th>
          <th>email</th>
          <th>action</th>
        </tr>
        <% data.forEach(el => { %>
          <tr>
            <!-- name -->
            <% if (el.Profile !== null) { %>
                <td><%= el.Profile.name %></td>
            <% } else { %>
                <td>belum diisi</td>
            <% } %>
            <!-- phone -->
            <% if (el.Profile !== null) { %>
              <td><%= el.Profile.phone %></td>
            <% } else { %>
                <td>belum diisi</td>
            <% } %>
            <!-- des -->
            <% if (el.Profile !== null) { %>
              <td><%= el.Profile.description %></td>
            <% } else { %>
                <td>belum diisi</td>
            <% } %>
            <td><%= el.username %></td>
            <td><%= el.email %></td>
            <td>
                <a href="/<%= el.id %>/profile/edit">
                    <button>Edit</button>
                </a>
            </td>
          </tr>
        <% }) %>
      </table>
</body>
</html>